{% extends "base.html" %}
{% load staticfiles %}


        <div class="container">
                    {% block body %}
                      <div id="#back-to-top">
                          <div class="row">
                            <div class="col-md-6">
              
                                {% for cause, number in death_types.items %}
                                      {% if "All" not in cause  %}
                                                    <h3><b>{{ cause }}</b></h3>
                                                    </br>   
                                      </div><!-- end of column -->                                      
                                    </div><!-- end of row -->
                                            <div class="col-md-6">
                                                        
                                                        {% for digit in number.all_deaths %}                                            
                                                                 {%  if digit.sex == "Females" %}

                                                                       {{ digit.year }} ::

                                                                       <b>{{ digit.number_of_deaths }}</b> ::

                                                                      {{ digit.sex }}  
                                                                      </br>

                                                                  {% endif %}

                                                        {% endfor %} 
                                                                    <p>Total deaths of females in France between 2001 and 2008 from {{ cause | lower }} were: <b>{{ number.all_females }}</b></p>
                                                            </div><!-- end of column -->
                                            

                                                            <div class ="col-md-6">
                                         
                                                                    {% for digit in number.all_deaths %}
                        
                                                                        {% if digit.sex == "Males" %}

                                                                            {{ digit.year }} ::

                                                                            <b>{{ digit.number_of_deaths }}</b> ::

                                                                            {{ digit.sex }}  
                                                                            </br>


                                                                       {% endif %}

                                                                 {% endfor %} 

                                                                           <p>Total deaths of males in France between 2001 and 2008 from {{ cause | lower }} were: <b>{{ number.all_males }}</b></p>
                                                                          </br>
                                                            </div> <!--end of column -->

                                        
                                      <div class="row">
                                          <div class="col-md-12">
                                                             <h4>Total deaths in France between 2001 and 2008 from {{ cause | lower }} were: <b>{{ number.death_total }}</b></h4>
                                          </div><!-- end of column -->
                                      {% endif %}
                                      </div><!-- end of row -->
             
                                {% endfor %}

                                </br>
                                <a href="#back-to-top" class="btn btn-info" role="button">Back to top?</a>
                        {% endblock %}