{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="row">
<div class="col-md-10">
<form method="POST" action="/cause-search/">

            {% csrf_token %}


<div class="search">   
{{ form.as_p }}

<input type="submit" method="post" value="Go ahead. Be morbid.">
</div>

</form>


<div class="valid">
<p>{{ valid }}</p>
</div>



<div class="cause-response">
{% for cause in cause_list %}
<a class="cause-response-link" href="/causes/{{cause.pk}}">
<p>{{ cause.year }}</p>
<p>{{ cause.sex }}</p>
<p>{{ cause.cause }}</p>
<p>{{ cause.number_of_deaths }}</p>
</a>
</div>
    
{% endfor %}



      <p><a href="/cause-detail/{{ cause.pk }}"> {{ cause.name }}</a></p>
    </div>
    </div>
    {% endblock %}

