{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
{# {% include 'top.html' %} #}

<div class="row">
<div class="col-sm-12">
<form method="POST" action="/cause-search/">

            {% csrf_token %}


<div class="valid">
<p>{{ valid }}</p>
</div>

<div class="cause-response">

{% if not cause_list == "zero, silly" %}

{% for cause in cause_list %}

    {% if not cause.number_of_deaths == 0 %}

    <p>{{ cause.cause }} ::
    {{ cause.year }} ::
    {{ cause.sex }}
    <h2 class="search-number">{{ cause.number_of_deaths }}</h2></p>

    {% else %}

    <h3>zero, silly.</h3>
    <p class="search-zero">Seriously. Think about it.</p>

    {% endif %}


{% endfor %}

 {% else %}

    <h3>{{cause_list}}.</h3></p>

    <p class="search-zero">Seriously. Think about it.</p>
       
    {% endif %}

</div>

<div class="search">   
{{ form.as_p }}

<input type="submit" method="post" value="Go ahead. Be morbid.">
</div>

</form>

</div>
</div>


    {% endblock %}

