{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="row">
<div class="col-md-10">
<form method="POST" action="/cause-search/">

            {% csrf_token %}


    
{{ form.as_table }}

<input type="submit" method="post" value="Go ahead. Be morbid.">

</form>

</br>
</br>

{{ valid }}

</br>
</br>


{% for cause in cause_list %}
<a href="/causes/{{cause.pk}}">
{{ cause.year }}
{{ cause.cause }}
{{ cause.sex }}
{{ cause.number_of_deaths }}
</a>
</br>
    
{% endfor %}



      <a href="/cause-detail/{{ cause.pk }}"> {{ cause.name }}</a>
        </br>
    </div>
    </div>
    {% endblock %}

