{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

        <div class="container">


                                            {% for cause, number in death_types.items %}
                                                    <div class="row">
            
                                    
                                                <h3><b>{{ cause }}</h3></b>
                                                    </br> 

                                                    <div class="col-md-6">
  
                                                                 {% for digit in number.all_deaths %}
                        
                                                                        {%  if digit.sex == "Females" %}

                                                                                {{ digit.year }} ::

                                                                                <b>{{ digit.number_of_deaths }}</b> ::

                                                                                {{ digit.sex }}  
                                                                                </br>

                                                                        {% endif %}


                                                            {% endfor %} 
                                   </div>



                       <div class ="col-md-6">
                                         

                                            {% for digit in number.all_deaths %}
                        
                                                        {% if digit.sex == "Males" %}

                                                                    {{ digit.year }} ::
            
                                                                    <b>{{ digit.number_of_deaths }}</b> ::

                                                                    {{ digit.sex }}  

                                                        </br>
                                                       {% endif %}

                                             {% endfor %} 


                    
            </div> 
                Total deaths in France between 2001 and 2008 from {{ cause }} were: <b>{{ number.death_total }}</b>
                    
                {% endfor %}


        </div>
    </div>
{% endblock %}

           
