{% extends "base.html" %}
{% load staticfiles %}
  
{% block head %}

 <link rel="stylesheet" type="text/css" href="{% static 'css/french_deaths.css' %}">

</head>
{% endblock head %}

<body>

{% block body %}
{% include 'top.html' %}
                    


                        <div id="chartdiv" style="width: 100%; height: 400px; background-color: #282828;" ></div>



                        <div class="row">
                             {% for cause, number in death_types.items %}

                                {% if "All" in cause %}


                                                        <div class="total">
                                                             <p>Total deaths in France between 2001 and 2008 from all causes: <b>{{ number.death_total }}</b></p>
                                                        </div>
                                    
                                                        <div class="men">
                                                           {% for digit in number.all_deaths %}
                        
                                                                     {% if digit.sex == "Males" %}

                                                                        <p>{{ digit.sex }} ::

                                                                        {{ digit.year }} ::

                                                                       <b>{{ digit.number_of_deaths }}</b> ::</p>

                                                                      

                                                                    {% endif %}
                                                           {% endfor %}

                                                           <div class="men-total">
                                                                      <p>Total deaths of males in France between 2001 and 2008 from all causes: 
                                                                      <div class="number"><b>{{ number.all_males }}</b></p></div>
                                                          </div>
                                                          </div>

                                                          <div class="women">
                                                          {% for digit in number.all_deaths %}                                            
                                                                           {%  if digit.sex == "Females" %}

                                                                                <p>{{ digit.sex }} ::

                                                                                {{ digit.year }} ::

                                                                                <b>{{ digit.number_of_deaths }}</b> ::</p>

                                                                              
                                                            
                                                                            
                                                                            {% endif %}

                                                          {% endfor %} 
                                                    

                                                          <div class="women-total">
                                                                    <p>Total deaths of females in France between 2001 and 2008 from all causes: 
                                                                    <div class="number"><b>{{ number.all_females }}</b></p></div>
                                                          </div>

                                                          </div>
                                                          </div>






                                                                                                              
                                        {% endif %}
                                        {% endfor %}
                                        {# </div> #}



        </div>


    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
                        
    <script src="{% static 'js/all_chart.js' %}"></script>


    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/french_deaths.js' %}"></script>


                  {% endblock %}
</body>


           
