{% extends "base.html" %}
{% load staticfiles %}
  
{% block head %}

 <link rel="stylesheet" type="text/css" href="{% static 'css/french_deaths.css' %}">

</head>
{% endblock head %}

<body>

{% block body %}

                    


                        <div id="chartdiv" style="width: 100%; height: 400px; background-color: #282828;" ></div>
                    </br>


                        <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                              {% for cause, number in death_types.items %}

                                {% if "All" in cause %}
                                      <a class="cause" href="#"><h3><b>All causes of death</b></h3></a>
                                          </br>

                                    
                                                        <div class="revealdeaths col-sm-offset-2 col-sm-8">
                                                           {% for digit in number.all_deaths %}
                        
                                                                     {% if digit.sex == "Males" %}

                                                                        {{ digit.year }} ::

                                                                       <b>{{ digit.number_of_deaths }}</b> ::

                                                                       {{ digit.sex }}
                                                                      </br>

                                                                    {% endif %}
                                                           {% endfor %}

                                                                      <p>Total deaths of males in France between 2001 and 2008 from all causes were: <b>{{ number.all_males }}</b></p>
                                                                          </br>


                                                          {% for digit in number.all_deaths %}                                            
                                                                           {%  if digit.sex == "Females" %}

                                                                                {{ digit.year }} ::

                                                                                <b>{{ digit.number_of_deaths }}</b> ::

                                                                                {{ digit.sex }}  
                                                                                </br>
                                                            
                                                                            
                                                                            {% endif %}

                                                          {% endfor %} 
                                                    


                                                                    <p>Total deaths of females in France between 2001 and 2008 from all causes were: <b>{{ number.all_females }}</b></p>



                                                             <h4>Total deaths in France between 2001 and 2008 from all causes were: <b>{{ number.death_total }}</b></h4>


                                                                                                              
                                        {% endif %}
                                        {% endfor %}
                                        </div>


                            </div>
        </div>


    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
                        
    <script src="{% static 'js/all_chart.js' %}"></script>


    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/french_deaths.js' %}"></script>


                  {% endblock %}
</body>


           
