.revealdeaths {
    display: none;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.site-id {
    font-family: "Helvetica";
    font-size: 250%;
    font-weight: bold;
    margin-left: 10%;
}

.site-id a {
    text-decoration: none;
    color: #ffffff;
}

.nav.navbar a {
    color: #ffffff;
}

.cause {
    color: #808080;
    width: 70%;
    margin: auto;
}

a .cause {
    text-decoration: none;
}

.cause:hover {
    color: #000;
    text-decoration: none;
}

.page-header {
    border-bottom: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}


.revealdeaths {
    color: #808080;
    width: 70%;
    margin: auto;
    border-radius: 2%;
    border: 1px solid #000;
    font-size: 125%;
}


#end-button {
    background-color: #808080;
    border: #808080;
    margin-bottom: 20px; 
}

h1 {
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}

.page-header h2 {
    font-weight: bold;
    font-size: 200%;
    margin-left: 5%;
}

.subhead {
    text-align: center;
    font-size: 200%;
    font-family: "Helvetica";
    font-weight: bold;
    margin-top: 2%;
    color: #808080;
}

.cause-response {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #000;
}

.cause-response-link {
    color: #000;
}

.valid {
    color: #808080;
    text-align: center;
    margin-top: 5%;
    font-size: 125%;
}

.search {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 125%;
    margin-top: 5%;
    margin-left: 30%;
}

#back-to-top {
    position: absolute;
    top: -10%;
}

.men {
    margin-left: 25%;
    display: inline-block;
    width: 20%;
    margin-right: 3%;
    float: left;
}

.women {
    display: inline-block;
    width: 20%;
    float: left;
}

.row {
    margin-left: 5%;
    padding-bottom: 10%
}

.total {
    color: #808080;
    margin-top: 3%;
    margin-bottom: 2%;
    display: block;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

.chartdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 2%;
}

.women-total {
    font-size: 125%;
}

.men-total {
    font-size: 125%;
}

.number {
    line-height: 70%;
    font-size: 150%;
}

.cause-response p {
    margin: 0;
}

.cause-response h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1750%;
    margin: 0;
    line-height: 90%;
}



/*#post-form textarea {
    height: 200px;
}


#post-form input[type="submit"] {
    margin-top: 10px;
}


#post-form {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;

}
*/
