.revealdeaths {
    display: none;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.cause {
    color: #808080;
    width: 70%;
    margin: auto;
}


.revealdeaths {
    color: #808080;
    width: 70%;
    margin: auto;
    border-radius: 2%;
    border: 1px solid #000;
    font-size: 125%;
}


#end-button {
    background-color: #808080;
    border: #808080;
    margin-bottom: 20px; 
}

h1 {
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}

h2 {
    font-weight: bold;
    font-size: 200%;
    margin-left: 5%;
}

.subhead {
    color: #808080;
    text-align: center;
    font-size: 200%;
    font-family: "Helvetica";
    font-weight: bold;
    margin-top: 2%;
}

/*#post-form textarea {
    height: 200px;
}


#post-form input[type="submit"] {
    margin-top: 10px;
}


#post-form {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;

}
*/
